/* App.css */

body {
  margin: 0;
  font-family: sans-serif;
}

.flex {
  display: flex;
  height: 100; /* Full height of the viewport */
}

/* .flex-grow {
  flex-grow: 1; /* Allows this area to grow and fill available space */

  .custom-shadow {
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5); /* Adjust values for desired effect */
}